* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

--root {
    --moderate-violet: hsl(263, 55%, 52%);
    --dark-grayish-blue: hsl(217, 19%, 35%);
    --dark-blackish-blue: hsl(219, 29%, 14%);
    --White: hsl(0, 0%, 100%);
    --light-gray: hsl(0, 0%, 81%);
    --light-grayish-blue: hsl(210, 46%, 95%);
}

body {
    background-color: hsl(0, 0%, 81%);
}

.flex-item {
    padding: 3em;
    border: 1px solid red;
    border-radius: 8px;
    margin-bottom: 1.5rem;
}

.item1 {
    background-color: hsl(263, 55%, 52%);
}

.item2 {
    background-color:  hsl(217, 19%, 35%);
    color:  hsl(0, 0%, 100%);
}

.item3 {
    color: hsl(210, 46%, 95%);
}

.item4 {
    background-color: hsl(219, 29%, 14%);
    color:  hsl(0, 0%, 100%);
}